<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Import bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <title>My Web Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body class="container">
    <header>
        <h1>All alerts</h1>
        <a href="/" class="btn btn-secondary">Back to Home</a><br><br>
    </header>
    <main>
        {% for alert in alerts %}
        {% if alert.cam_no.isdigit() %}
        <h3>{{ alert.alert_type }} at {{ alert.timestamp }} (Camera {{ alert.cam_no|int + 1 }})</h3>
        {% else %}
        <h3>{{ alert.alert_type }} at {{ alert.timestamp }} (Camera {{ alert.cam_no }})</h3>
        {% endif %}
        <img src="data:image/png;base64,{{ alert.alert_image }}" width="50%"
            alt="Alert image for {{ alert.alert_type }}">&nbsp;&nbsp;
        <a href="/delete_alert/{{ alert.id }}" class="btn btn-danger">Delete Alert</a>
        <hr>
        {% endfor %}
    </main>
    <section>
        <h2>Delete All Alerts</h2>
        <a href="/delete_all_alerts" class="btn btn-danger">Delete All Alerts</a>
    </section>
    <hr>
    <footer>
        <p>&copy; 2026 My Web Page</p>
    </footer>
</body>

</html>